aiohappyeyeballs          
aiohttp                   
aiosignal                 
altair                    
annotated-types           
anyio                     
async-timeout             
attrs                     
blinker                   
boto3                     
botocore                  
cachetools                
certifi                   
charset-normalizer        
click                     
colorama                  
dataclasses-json          
distro                    
exceptiongroup            
faiss-cpu                 
filelock                  
frozenlist                
fsspec                    
gitdb                     
GitPython                
gpt4all                   
greenlet                  
groq                   
h11                       
httpcore                  
httpx                     
httpx-sse                 
huggingface-hub           
idna                      
Jinja2                    
jiter                     
jmespath                  
jsonpatch                 
jsonpointer               
jsonschema                
jsonschema-specifications 
langchain                 
langchain-community       
langchain-core            
langchain-groq            
langchain-text-splitters  
langsmith                 
llvmlite                  
markdown-it-py            
MarkupSafe                
marshmallow               
mdurl                     
more-itertools            
mpmath                    
multidict                 
mypy-extensions           
narwhals                  
networkx                
numba                     
numpy                     
openai                    
openai-whisper            
orjson                    
packaging                
pandas                    
pillow                    
pip                     
propcache                              
pyarrow                   
pydantic                  
pydantic_core             
pydantic-settings         
pydeck                    
pydub                     
Pygments                  
pypdf                     
PyPDF2                    
pyperclip                 
python-dateutil           
python-dotenv             
pytz                      
PyYAML                    
referencing               
regex                     
requests                  
requests-toolbelt         
rich                      
rpds-py                   
s3transfer                
safetensors               
setuptools                
six                       
smmap                     
sniffio                   
SQLAlchemy                
streamlit                 
streamlit-option-menu     
sympy                     
tenacity                  
tiktoken                  
tokenizers                
toml                      
torch                     
torchaudio                
torchvision               
tornado                   
tqdm                      
transformers              
typing_extensions         
typing-inspect            
tzdata                    
urllib3                   
watchdog                  
yarl   
openpyxl
